extends ../components/_templateBase

block content
    
    -let previousPath

    -if (title == 'Comment')
        
        -previousPath = `/forums/${forum.slug}/topics/${topic.slug}/comments`
        +breadcrumbDisplay([['Home','/home'],['Forums','/forums'],['Topics',`/forums/${forum.slug}/topics`], ['Comments']])

        //- -const creationDate = forum.createdAt.format();
        -const creationDateForum = moment(forum.createdAt).format('dddd DD MMM YYYY HH:mm');
        -const creationDateTopic = moment(topic.createdAt).format('dddd DD MMM YYYY HH:mm');

        h2 #{forum.title} - #{forum.type} | Forum
        small.text-muted.mt-0= `Author: ${forum.user.firstName} ${forum.user.lastName}. Created on: ${creationDateForum}`
        p #{forum.description}

        h3 #{topic.title} | Topic
        small.text-muted.mt-0= `Author: ${topic.user.firstName} ${topic.user.lastName}. Created on: ${creationDateTopic}`
        p #{topic.description}

    h2 Create New #{title}

    form#createElementForm
        input#hiddenInputCreateType.d-none(value=`${title}`)
        input#hiddenInoutCreateForum.d-none(value=`${forum.id}`)
        input#hiddenInoutCreateTopic.d-none(value=`${topic.id}`)
        input#hiddenInoutCreatePath.d-none(value= `${previousPath}`)
        .form-group.row
            label.col-sm-2.col-form-label(for='inputCreation1') Title
            .col-sm-10
                input#inputCreation1.form-control(type='text' maxlength="50"  placeholder='Title')
        .form-group.row
            label.col-sm-2.col-form-label(for='inputCreation2') Description <br/> 
                p.text-muted (max: 400 characters)
            .col-sm-10
                textarea#inputCreation2.form-control(type='text'  rows="5" maxlength="400" placeholder='Description (max: 400 characters)')
        .form-group.row
            .col-sm-10
                button.btn.btn-primary New #{title}