extends ../components/_templateBase

block append head
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")
    

block append scripts
    script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js')
    script(src='/js/databaseDesignJQuerry.js')

block content
    +breadcrumbDisplay([['Home','/home'],['Manage Announcements']])

    .d-flex
        h2 Manage Announcements
        a.btn.btn-primary.text-white.mb-auto.ml-auto(href=`/manage_announcements/new_announcement`) + Create Announcement

    -if(announcements.length<1)
        h4.font-weight-bold.text-dark.mt-0.ml-4 No announcements to manage.
    - else

        table.table#dataTable.table.table-striped.table-bordered.table-sm.text-center
            thead
                tr
                    //- th #
                    th Title
                    th Author
                    th Creation date
                    th Edit
                    th Delete
            
            tbody
                each announcement in announcements
                    //- modal to delete element
                    +deleteModalTemplate(announcement.id, title, announcement.title)
                    //- -const creationDate = forum.createdAt.format();
                    -const creationDate = moment(announcement.createdAt).format('DD/MMM/YYYY');
                    
                        tr
                            //- th= index+1 
                            td.text-left.pl-3= announcement.title
                            td #{announcement.user.firstName} #{announcement.user.lastName}
                            td= creationDate
                            td
                                a.btn.btn-success.text-white(href=`/manage_announcements/${announcement.slug}/edit_announcements`) Edit
                            td
                                a.btn.btn-danger.text-white(type='button' data-toggle="modal" data-target=`#deleteModal${announcement.id}`) Delete
            tfoot
                tr
                    //- th #
                    th Title
                    th Author
                    th Creation date
                    th Edit
                    th Delete