extends ../components/_templateBase

block append head
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")
    

block append scripts
    script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js')
    script(src='/js/databaseDesignJQuerry.js')
           
block content
    +breadcrumbDisplay([['Home','/home'],['Manage Forums','/manage_forums'],['Manage Topics', `/manage_forums/${forum.slug}/manage_topics`],['Manage Comments']])
    
    //- -const creationDate = forum.createdAt.format();
    -const creationDateForum = moment(forum.createdAt).format('dddd DD MMM YYYY HH:mm');
    -const creationDateTopic = moment(topic.createdAt).format('dddd DD MMM YYYY HH:mm');
    
    a.text-decoration-none.h2(href='/manage_forums') Forum : #{forum.title} - #{forum.type}
    small.text-muted.mt-0= `Author: ${forum.user.firstName} ${forum.user.lastName}. Created on: ${creationDateForum}`
    p #{forum.description}
    
    a.text-decoration-none.h3.mt-0(href=`/manage_forums/${forum.slug}/manage_topics`) Topic : #{topic.title}
    small.text-muted.mt-0= `Author: ${topic.user.firstName} ${topic.user.lastName}. Created on: ${creationDateTopic}`
    p #{topic.description}
    
    .d-flex
        h2 Manage Comments
        a.btn.btn-primary.text-white.mb-auto.ml-auto(href =`/manage_forums/${forum.slug}/manage_topics/${topic.slug}/manage_comments/new_comment`) + Create Comment
        
    -if(comments.length<1)
        h4.font-weight-bold.text-dark.mt-0.ml-4 No comments in this topic to manage.
    - else
        table.table#dataTable.table.table-striped.table-bordered.table-sm.text-center
            thead
                tr
                    //- th #
                    th Title
                    th Author
                    th Creation date
                    th Details
                    th Delete
            
            tbody
                each comment in comments
                    //- modal to delete element
                    +deleteModalTemplate(comment.id, title, comment.title)
                    +displayDescriptionModal(comment.id, title, comment.title, comment.description)
                    
                    //- -const creationDate = forum.createdAt.format();
                    -const creationDate = moment(comment.createdAt).format('DD/MMM/YYYY HH:mm');
                    
                        tr
                            //- th= index+1
                            td 
                                a.btn(type="button" data-toggle="modal" data-target=`#displayDescriptionModal${comment.id}`) #{comment.title}
                            if comment.user.firstName
                                td= `${comment.user.firstName} ${comment.user.lastName}`
                            else
                                td ABC University
                            td= creationDate
                            td
                                a.btn.btn-info.text-white(type='button' data-toggle="modal" data-target=`#displayDescriptionModal${comment.id}`) Open
                                //- a.btn.btn-info(href=`/manageForums/${forum.slug}/manageTopics`) Open
                            td
                                a.btn.btn-danger.text-white(type='button' data-toggle="modal" data-target=`#deleteModal${comment.id}`) Delete
            
            tfoot
                tr
                    //- th #
                    th Title
                    th Author
                    th Creation date
                    th Details
                    th Delete
