extends ../components/_templateBase

block append head
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")
    

block append scripts
    script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js')
    script(src='/js/databaseDesignJQuerry.js')
           
block content
    +breadcrumbDisplay([['Home','/home'],['Forums','/forums'],['Topics',`/forums/${forum.slug}/topics`], ['Comments']])
    
    //- -const creationDate = forum.createdAt.format();
    -const creationDateForum = moment(forum.createdAt).format('dddd DD MMM YYYY HH:mm');
    -const creationDateTopic = moment(topic.createdAt).format('dddd DD MMM YYYY HH:mm');
    
    a.text-decoration-none.h2(href='/forums') Forum : #{forum.title} - #{forum.type}
    small.text-muted.mt-0= `Author: ${forum.user.firstName} ${forum.user.lastName}. Created on: ${creationDateForum}`
    p #{forum.description}
    
    a.text-decoration-none.h3.mt-0(href=`/forums/${forum.slug}/topics`) Topic : #{topic.title}
    small.text-muted.mt-0= `Author: ${topic.user.firstName} ${topic.user.lastName}. Created on: ${creationDateTopic}`
    p #{topic.description}
    
    .d-flex
        h2 Comments
        a.btn.btn-primary.text-white.mb-auto.ml-auto(href=`/forums/${forum.slug}/topics/${topic.slug}/comments/new_comment`) + Add Comment
    
    -if(comments.length<1)
        h4.font-weight-bold.text-dark.mt-0.ml-4 No Comments in this forum.
    -else     
        table.table#dataTable.table.table-borderless.table-sm
            thead
                tr
                    th.text-right.px-5 Sort
            tbody 
                each comment in comments
                    tr 
                        td
                    
                            //- -const creationDate = topics.createdAt.format();
                            -const creationDateComment = moment(comment.createdAt).format('dddd DD MMM YYYY HH:mm');
                            
                            -if (user.id == comment.user.id)
                                +cardDisplayItems(comment.title, comment.description, `${comment.user.firstName} ${comment.user.lastName}`, creationDateComment, `/forums/${forum.slug}/topics/${topic.slug}/comments/${comment.id}/edit_comment`, `Edit Comment`)
                            -else
                                +cardDisplayItems(comment.title, comment.description, `${comment.user.firstName} ${comment.user.lastName}`, creationDateComment)