extends ../components/_templateBase

mixin openComment(id, title, description)
    .modal.fade(tabindex='-1' role='dialog' aria-labelledby='deleteModalLabel' aria-hidden='true' id=`deleteModalComment${id}`)
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h3#deleteModalLabel.modal-title Comment: #{title}
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    h5.text-center
                        | #{description}
                    
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
           
block content
    +breadcrumbDisplay([['Home','/home'],['Manage Forums','/manage_forums'],['Manage Topics', `/manage_forums/${forum.slug}/manage_topics/${topic.slug}/manage_comments`],['Manage Comments']])
    
    //- -const creationDate = forum.createdAt.format();
    -const creationDateForum = moment(forum.createdAt).format('dddd DD MMM YYYY HH:mm');
    -const creationDateTopic = moment(topic.createdAt).format('dddd DD MMM YYYY HH:mm');
    
    a.text-decoration-none.h2(href='/manage_forums') Forum : #{forum.title} - #{forum.type}
    small.text-muted.mt-0= `Author: ${forum.user.firstName} ${forum.user.lastName}. Created on: ${creationDateForum}`
    p #{forum.description}
    
    a.text-decoration-none.h3.mt-0(href=`/manage_forums/${forum.slug}/manage_topics`) Topic : #{topic.title}
    small.text-muted.mt-0= `Author: ${topic.user.firstName} ${topic.user.lastName}. Created on: ${creationDateTopic}`
    p #{topic.description}
    
    .d-flex
        h2 Manage Comments
        a.btn.btn-primary.text-white.mb-auto.ml-auto(href =`/manage_forums/${forum.slug}/manage_topics/${topic.slug}/manage_comments/new_comment`) + Add Comment
        
    -if(comments.length<1)
        h4.font-weight-bold.text-dark.mt-0.ml-4 No comments in this topic to manage.
    - else
        table.table
            thead
                tr
                    th(scope="col") #
                    th(scope="col") Title
                    th(scope="col") Author
                    th(scope="col") Creation date
                    th.text-center(scope="col") Details
                    th.text-center(scope="col") Delete

            each comment,index in comments
                //- modal to delete element
                +deleteModalTemplate(comment.id, title, comment.title)
                +openComment(comment.id,comment.title, comment.description)
                
                //- -const creationDate = forum.createdAt.format();
                -const creationDate = moment(comment.createdAt).format('DD/MMM/YYYY');
                tbody
                    tr
                        th(scope='row')= index+1
                        td= comment.title
                        td= `${comment.user.firstName} ${comment.user.lastName}`
                        td= creationDate
                        td.text-center
                            a.btn.btn-info.text-white(type='button' data-toggle="modal" data-target=`#deleteModalComment${comment.id}`) Open
                            //- a.btn.btn-info(href=`/manageForums/${forum.slug}/manageTopics`) Open
                        td.text-center
                            a.btn.btn-danger.text-white(type='button' data-toggle="modal" data-target=`#deleteModal${comment.id}`) Delete
