extends ../components/_templateBase
           
block content
    +breadcrumbDisplay([['Home','/home'],['Forums','/forums'],['Topics',`/forums/${forum.slug}/topics`], ['Comments']])
    
    //- -const creationDate = forum.createdAt.format();
    -const creationDateForum = moment(forum.createdAt).format('dddd DD MMM YYYY HH:mm');
    -const creationDateTopic = moment(topic.createdAt).format('dddd DD MMM YYYY HH:mm');
    
    h2 #{forum.title} - #{forum.type} | Forum
    small.text-muted.mt-0= `Author: ${forum.user.firstName} ${forum.user.lastName}. Created on: ${creationDateForum}`
    p #{forum.description}
    
    h3 #{topic.title} | Topic
    small.text-muted.mt-0= `Author: ${topic.user.firstName} ${topic.user.lastName}. Created on: ${creationDateTopic}`
    p #{topic.description}
    
    .d-flex
        h2 Comments
        a.btn.btn-primary.text-white.mb-auto.ml-auto + Add Comment
    
    -if(comments.length<1)
        h4.font-weight-bold.text-dark.mt-0.ml-4 No Comments in this forum.
    each comment in comments
        
        //- -const creationDate = topics.createdAt.format();
        -const creationDateComment = moment(comment.createdAt).format('dddd DD MMM YYYY HH:mm');
        
        +cardDisplayItems(comment.title, comment.description, `${comment.user.firstName} ${comment.user.lastName}`, creationDate, `/forums/${forum.slug}/topics/${comment.slug}/comments`, 'Comment')
