//- extend template
extends ../components/_templateBase

//- add style in the head
block append head
    //- style for the table
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")
    
//- add script to make table dynamic from dataTable
block append scripts
    //- DataTable from Bootstrap
    script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js')
    //- Internal Js to active the Tables
    script(src='/js/databaseDesignJQuery.js')
           
block content
    //- Add breadcrumb
    +breadcrumbDisplay([['Home','/home'],['Manage Forums','/manage_forums'],['Manage Topics', `/manage_forums/${forum.slug}/manage_topics`],['Manage Comments']])
    
    //- -Creation dates from the forum and topic
    -const creationDateForum = moment(forum.createdAt).format('dddd DD MMM YYYY HH:mm');
    -const creationDateTopic = moment(topic.createdAt).format('dddd DD MMM YYYY HH:mm');
    
    //- author format of forum and topic
    -const authorForum = forum.user ? `${forum.user.firstName} ${forum.user.lastName}` : 'Anonymous'
    -const authorTopic = topic.user ? `${topic.user.firstName} ${topic.user.lastName}` : 'Anonymous'
    
    //- FORUM
    //- title
    a.text-decoration-none.h2(href='/manage_forums') Forum : #{forum.title} - #{forum.type}
    //- Author
    small.text-muted.mt-0= `Author: ${authorForum}. Created on: ${creationDateForum}`
    //- description
    p #{forum.description}
    
    //- TOPIC
    //- title
    a.text-decoration-none.h3.mt-0(href=`/manage_forums/${forum.slug}/manage_topics`) Topic : #{topic.title}
    //- Author
    small.text-muted.mt-0= `Author: ${authorTopic}. Created on: ${creationDateTopic}`
    //- description
    p #{topic.description}
    
    //- title on the body, with button to create new comment
    .d-flex
        h2 Manage Comments
        a.btn.btn-primary.text-white.mb-auto.ml-auto(href =`/manage_forums/${forum.slug}/manage_topics/${topic.slug}/manage_comments/new_comment`) + Create Comment
      
    //- if there is not comments  
    -if(comments.length<1)
        h4.font-weight-bold.text-dark.mt-0.ml-4 No comments in this topic to manage.
    - else
        //- Comment table
        table.table#dataTable.table.table-striped.table-bordered.table-sm.text-center
            thead
                tr
                    th Title
                    th Author
                    th Creation date
                    th Details
                    th Delete
            
            tbody
                //- iterate through each comment to add each as a row
                each comment in comments
                    //- modal to delete element
                    +deleteModalTemplate(comment.id, title, comment.title)
                    //- modal to display the description
                    +displayDescriptionModal(comment.id, title, comment.title, comment.description)
                    
                    //- creation date with format
                    -const creationDate = moment(comment.createdAt).format('DD/MMM/YYYY HH:mm');
                    //- Row
                    tr
                        //- Comment title
                        td 
                            a.btn(type="button" data-toggle="modal" data-target=`#displayDescriptionModal${comment.id}`) #{comment.title}
                        //- Author
                        if comment.user
                            td= `${comment.user.firstName} ${comment.user.lastName}`
                        else
                            td Anonymous
                        //- Created date
                        td= creationDate
                        //- Edit Button
                        td
                            a.btn.btn-info.text-white(type='button' data-toggle="modal" data-target=`#displayDescriptionModal${comment.id}`) Open
                        //- Delete Button
                        td
                            a.btn.btn-danger.text-white(type='button' data-toggle="modal" data-target=`#deleteModal${comment.id}`) Delete
            //- Table footer
            tfoot
                tr
                    th Title
                    th Author
                    th Creation date
                    th Details
                    th Delete
