//- extend template
extends ../components/_templateBase

block content
    //- variables to share
    -let previousPath
    -let numberOfRows
    -let numberOfCharacters
    
    //- case that admin creates a new
    -if(title == 'News' && user.role == 'admin')
        //- Add breadcrumb
        +breadcrumbDisplay([['Home','/home'],['Manage News','/manage_news'],['Create News']])
        
        //- assign variable the new type
        -previousPath = '/manage_news'
        -numberOfCharacters = 5000
        -numberOfRows = 20
    
    //- case that staff creates a new
    -else if(title == 'News' && user.role == 'staff')
        //- Add breadcrumb
        +breadcrumbDisplay([['Home','/home'],['Create News']])
        
        //- assign variable the new type
        -previousPath = '/news'
        -numberOfCharacters = 5000
        -numberOfRows = 20
        
    //- case that admin creates an announcement
    -if(title == 'Announcements' && user.role == 'admin')
        //- Add breadcrumb
        +breadcrumbDisplay([['Home','/home'],['Manage Announcements','/manage_announcements'],['Create Announcement']])
        
        //- assign variable the the new type
        -previousPath = '/manage_announcements'
        -numberOfCharacters = 3000
        -numberOfRows = 10

    //- case that staff creates an announcement
    -else if(title == 'Announcements' && user.role == 'staff')
        //- Add breadcrumb
        +breadcrumbDisplay([['Home','/home'],['Create Announcement']])
        
        //- assign variable the the new type
        -previousPath = '/announcements'
        -numberOfCharacters = 3000
        -numberOfRows = 10
        
    //- body title
    h2 Create #{title}

    //- form to create an article (announcements or news)
    form#createArticleForm
        //- hidden inputs to have the article type and previous path to redirect the user
        input#hiddenInputCreateArticleType.d-none(value=`${title}`)
        input#hiddenInputCreateArticlePath.d-none(value= `${previousPath}`)
        //- title input
        .form-group.row
            label.col-sm-2.col-form-label(for='inputCreationArticleTitle') Title
            .col-sm-10
                input#inputCreationArticleTitle.form-control(type='text' maxlength="150"  placeholder='Title' required='required')
        //- description input with the maximum number of characters
        .form-group.row
            label.col-sm-2.col-form-label(for='inputCreationArticleDescription') Description <br/> 
                p.text-muted (max: #{numberOfCharacters} characters)
            .col-sm-10
                textarea#inputCreationArticleDescription.form-control(type='text'  rows=`${numberOfRows}` maxlength=`${numberOfCharacters}` placeholder=`Description (max: ${numberOfCharacters} characters)` required='required')
        //- add checkboxes if it is an announcement to email
        -if(title == 'Announcements')
            .form-group.row
                label.col-sm-2.col-form-label(for='inputCheckboxEmail') Email Announcement
                .col-sm-10#inputCheckboxEmail
                    .form-check.form-check-inline
                        input#inlineCheckboxStundet.form-check-input(type='checkbox' value='student')
                        label.form-check-label(for='inlineCheckboxStundet') Students
                    .form-check.form-check-inline
                        input#inlineCheckboxStaff.form-check-input(type='checkbox' value='staff')
                        label.form-check-label(for='inlineCheckboxStaff') Staffs
                    //- only admins can email to other admins or all users
                    if user.role == 'admin'
                        .form-check.form-check-inline
                            input#inlineCheckboxAdmin.form-check-input(type='checkbox' value='admin')
                            label.form-check-label(for='inlineCheckboxAdmin') Admins
                        .form-check.form-check-inline
                            input#inlineCheckboxAll.form-check-input(type='checkbox' value='all')
                            label.form-check-label(for='inlineCheckboxAll') All
        //- button to create article
        .form-group.row
            .col-sm-10
                button.btn.btn-primary Create #{title}