extends ../components/_templateBase

block content
    
    -let forumId
    -let topicId
    -let previousPath
    
    -if(title == 'Forum' && user.role == 'admin')
        +breadcrumbDisplay([['Home','/home'],['Manage Forums','/manage_forums'],['New Forum']])
        
        -previousPath = '/manage_forums'
        
    -if(title == 'Forum' && user.role == 'staff')
        +breadcrumbDisplay([['Home','/home'],['New Forum']])
        
        -previousPath = '/forums'
        
    -if(title == 'Topic' && user.role == 'admin')
    
        -forumId = forum.id
        -previousPath = `/manage_forums/${forum.slug}/manage_topics`  
        +breadcrumbDisplay([['Home','/home'],['Manage Forums','/manage_forums'], ['Manage Topics', `${previousPath}`],['New Topic']])
        
        -const creationDateForum = moment(forum.createdAt).format('dddd DD MMM YYYY HH:mm');
        
        a.text-decoration-none.h2(href='/manage_forums') Forum: #{forum.title} - #{forum.type}
        small.text-muted.mt-0= `Author: ${forum.user.firstName} ${forum.user.lastName}. Created on: ${creationDateForum}`
        p #{forum.description}
        
    -if (title == 'Comment')
    
        -if(originalUrl && originalUrl.includes('manage_comments'))
            - previousPath = `/manage_forums/${forum.slug}/manage_topics/${topic.slug}/manage_comments`
            +breadcrumbDisplay([['Home','/home'],['Manage Forums','/manage_forums'],['Manage Topics',`/manage _forums/${forum.slug}/manage_topics`], ['Manage Comments', previousPath ], ['New Comment']])  
        -else
            -previousPath = `/forums/${forum.slug}/topics/${topic.slug}/comments`
            +breadcrumbDisplay([['Home','/home'],['Forums','/forums'],['Topics',`/forums/${forum.slug}/topics`], ['Comments', previousPath ], ['New Comment']])

        //- -const creationDate = forum.createdAt.format();
        -const creationDateForum = moment(forum.createdAt).format('dddd DD MMM YYYY HH:mm');
        -const creationDateTopic = moment(topic.createdAt).format('dddd DD MMM YYYY HH:mm');

        a.text-decoration-none.h2(href='/forums') Forum: #{forum.title} - #{forum.type}
        small.text-muted.mt-0= `Author: ${forum.user.firstName} ${forum.user.lastName}. Created on: ${creationDateForum}`
        p #{forum.description}

        a.text-decoration-none.h3.mt-0(href=`/forums/${forum.slug}/topics`) Topic: #{topic.title}
        small.text-muted.mt-0= `Author: ${topic.user.firstName} ${topic.user.lastName}. Created on: ${creationDateTopic}`
        p #{topic.description}
        
        -forumId = forum.id
        -topicId = topic.id
    
    -if(title == 'Topic' && user.role == 'staff')
        +breadcrumbDisplay([['Home','/home'],['New Topic']])
        
        -previousPath = '/forums'

    h2 Create New #{title}

    form#createElementForm
        input#hiddenInputCreateType.d-none(value=`${title}`)
        input#hiddenInputCreateForum.d-none(value=`${forumId}`)
        input#hiddenInputCreateTopic.d-none(value=`${topicId}`)
        input#hiddenInputCreateUserRole.d-none(value=`${user.role}`)
        input#hiddenInputCreatePath.d-none(value= `${previousPath}`)
        -if(title == 'Topic' && user.role == 'staff')
            .form-group.row
                label.col-sm-2.col-form-label(for='inputCreationForum') Forum 
                .col-sm-10
                    select#inputCreationForum.form-control(required='required')
                        each forum, index in forums
                            option(data-forum-id= `${forum.id}` data-forum-slug=`${forum.slug}`) #{forum.title} - #{forum.type}
        .form-group.row
            label.col-sm-2.col-form-label(for='inputCreationTitle') Title
            .col-sm-10
                input#inputCreationTitle.form-control(type='text' maxlength="50"  placeholder='Title' required='required')
        -if (title != 'Forum')
            .form-group.row
                label.col-sm-2.col-form-label(for='inputCreationDescription') Description <br/> 
                    p.text-muted (max: 400 characters)
                .col-sm-10
                    textarea#inputCreationDescription.form-control(type='text'  rows="5" maxlength="400" placeholder='Description (max: 400 characters)' required='required')
        -if (title == 'Forum')
            .form-group.row
                label.col-sm-2.col-form-label(for='inputCreationType') Type 
                .col-sm-10
                    select#inputCreationType.form-control(required='required')
                        option Information Technology
                        option Business
                        option Accounting
                        option Project Management
                        option Other   
        .form-group.row
            .col-sm-10
                button.btn.btn-primary New #{title}