extends ../components/_templateBase

block content
    
    -let previousPath
    -let numberOfCharacters
    -let numberOfRows
    
    //- Forum Managemt
    -if(title == 'News' && user.role == 'admin')
        +breadcrumbDisplay([['Home','/home'],['Manage News','/manage_news'],['Edit News']])
        
        -previousPath = '/manage_news'
        -numberOfCharacters = 5000
        -numberOfRows = 20
        
    -if(title == 'Announcements' && user.role == 'admin')
        +breadcrumbDisplay([['Home','/home'],['Manage Announcements','/manage_announcements'],['Edit Announcement']])
        
        -previousPath = '/manage_announcements'
        -numberOfCharacters = 3000
        -numberOfRows = 10
        

    h2 Edit #{title}

    form#editArticleForm
        input#hiddenInputEditionArticleId.d-none(value=`${article.id}`)
        input#hiddenInputEditionArticleType.d-none(value=`${title}`)
        input#hiddenInputEditionArticlePath.d-none(value= `${previousPath}`)
        .form-group.row
            label.col-sm-2.col-form-label(for='inputEditionArticleTitle') Title
            .col-sm-10
                input#inputEditionArticleTitle.form-control(type='text' value=`${article.title}` maxlength="150"  placeholder='Title' required='required')
        .form-group.row
            label.col-sm-2.col-form-label(for='inputEditionArticleDescription') Description <br/> 
                p.text-muted (max: #{numberOfCharacters} characters)
            .col-sm-10
                textarea#inputEditionArticleDescription.form-control(type='text' rows=`${numberOfRows}` maxlength=`${numberOfCharacters}` placeholder=`Description (max: ${numberOfCharacters} characters)` required='required')
                    |#{article.description}
                    
        -if(title = 'Announcements')
            .form-group.row
                label.col-sm-2.col-form-label(for='inputCheckboxEmail') Email Announcement
                .col-sm-10#inputCheckboxEmail
                    .form-check.form-check-inline
                        input#inlineCheckboxStundet.form-check-input(type='checkbox' value='student')
                        label.form-check-label(for='inlineCheckboxStundet') Students
                    .form-check.form-check-inline
                        input#inlineCheckboxStaff.form-check-input(type='checkbox' value='staff')
                        label.form-check-label(for='inlineCheckboxStaff') Staffs
                    .form-check.form-check-inline
                        input#inlineCheckboxAdmin.form-check-input(type='checkbox' value='admin')
                        label.form-check-label(for='inlineCheckboxAdmin') Admins
                    .form-check.form-check-inline
                        input#inlineCheckboxAll.form-check-input(type='checkbox' value='all')
                        label.form-check-label(for='inlineCheckboxAll') All
        .form-group.row
            .col-sm-10
                button.btn.btn-primary Edit #{title}