//- extend template
extends ../components/_templateBase

block content
    //- variables to share
    -let previousPath
    -let numberOfCharacters
    -let numberOfRows
    
    //- case that admin edits a new
    -if(title == 'News' && user.role == 'admin')
        //- Add breadcrumb
        +breadcrumbDisplay([['Home','/home'],['Manage News','/manage_news'],['Edit News']])
        
        //- assign variable the new type
        -previousPath = '/manage_news'
        -numberOfCharacters = 5000
        -numberOfRows = 20
        
    //- case that admin edits an announcement
    -if(title == 'Announcements' && user.role == 'admin')
        //- Add breadcrumb
        +breadcrumbDisplay([['Home','/home'],['Manage Announcements','/manage_announcements'],['Edit Announcement']])
        
        //- assign variable the new type
        -previousPath = '/manage_announcements'
        -numberOfCharacters = 3000
        -numberOfRows = 10
        
    //- body title
    h2 Edit #{title}

    //- form to edit an article 
    form#editArticleForm
        //- hidden inputs with the article id, type and previuos path
        input#hiddenInputEditionArticleId.d-none(value=`${article.id}`)
        input#hiddenInputEditionArticleType.d-none(value=`${title}`)
        input#hiddenInputEditionArticlePath.d-none(value= `${previousPath}`)
        //- title input with the current information
        .form-group.row
            label.col-sm-2.col-form-label(for='inputEditionArticleTitle') Title
            .col-sm-10
                input#inputEditionArticleTitle.form-control(type='text' value=`${article.title}` maxlength="150"  placeholder='Title' required='required')
        //- Description input with currrent description
        .form-group.row
            label.col-sm-2.col-form-label(for='inputEditionArticleDescription') Description <br/> 
                p.text-muted (max: #{numberOfCharacters} characters)
            .col-sm-10
                textarea#inputEditionArticleDescription.form-control(type='text' rows=`${numberOfRows}` maxlength=`${numberOfCharacters}` placeholder=`Description (max: ${numberOfCharacters} characters)` required='required')
                    |#{article.description}
        
        //- //- checkbox to email updated announcement   
        //- -if(title = 'Announcements')
        //-     .form-group.row
        //-         label.col-sm-2.col-form-label(for='inputCheckboxEmail') Email Announcement
        //-         .col-sm-10#inputCheckboxEmail
        //-             .form-check.form-check-inline
        //-                 input#inlineCheckboxStundet.form-check-input(type='checkbox' value='student')
        //-                 label.form-check-label(for='inlineCheckboxStundet') Students
        //-             .form-check.form-check-inline
        //-                 input#inlineCheckboxStaff.form-check-input(type='checkbox' value='staff')
        //-                 label.form-check-label(for='inlineCheckboxStaff') Staffs
        //-             .form-check.form-check-inline
        //-                 input#inlineCheckboxAdmin.form-check-input(type='checkbox' value='admin')
        //-                 label.form-check-label(for='inlineCheckboxAdmin') Admins
        //-             .form-check.form-check-inline
        //-                 input#inlineCheckboxAll.form-check-input(type='checkbox' value='all')
        //-                 label.form-check-label(for='inlineCheckboxAll') All
        //- button to edit article
        .form-group.row
            .col-sm-10
                button.btn.btn-primary Edit #{title}