extends ../components/_templateBase

block content

    +breadcrumbDisplay([['Home','/home'],['Manage Users','/manage_users'],['Edit User']])

    h2 Edit #{title}

    form#editUserForm
        input#hiddenInputEditionUserId.d-none(value=`${currentUser.id}`)
        .form-group.row
            label.col-sm-2.col-form-label(for='inputEditFirstName') First Name
            .col-sm-10
                input#inputEditFirstName.form-control(type='text' pattern="^[A-Za-z ]+$" value=`${currentUser.firstName}` maxlength="50"  placeholder='First Name' required='required')
        .form-group.row
            label.col-sm-2.col-form-label(for='inputEditLastName') Last Name
            .col-sm-10
                input#inputEditLastName.form-control(type='text' pattern="^[A-Za-z ]+$" value=`${currentUser.lastName}` maxlength="50"  placeholder='Last Name' required='required')
        .form-group.row
            label.col-sm-2.col-form-label(for='inputEditEmailAddress') Email Address
            .col-sm-10
                input#inputEditEmailAddress.form-control(type='email' value=`${currentUser.email}` maxlength="50"  placeholder='Email Address' required='required')
        .form-group.row
            label.col-sm-2.col-form-label(for='inputEditPhoneNumber') Phone Number
            .col-sm-10
                input#inputEditPhoneNumber.form-control(type='tel' value=`${currentUser.phoneNumber}` pattern="[0-9]{10}" minlength="10"  maxlength="10"  placeholder='Phone Number' required='required')
        .form-group.row
            label.col-sm-2.col-form-label(for='inputEditUserRole') Role 
            .col-sm-10
                select#inputEditUserRole.form-control(required='required')
                    -const roleArray = ['Student', 'Staff', 'Admin', 'Team Maintenance']
                    each role in roleArray
                        -if (role == currentUser.role)
                            option(selected = true)= role
                        -else
                            option= role
        .form-group.row
            label.col-sm-2.col-form-label(for='inputEditUserMajor') Major 
            .col-sm-10
                select#inputEditUserMajor.form-control(required='required')
                    -const majorArray = ['Information Technology', 'Business', 'Accounting', 'Project Management', 'NOT A MAJOR']
                    each major in majorArray
                        -if (major == currentUser.major)
                            option(selected = true)= major
                        -else
                            option= major
        .form-group.row
            label.col-sm-2.col-form-label(for='inputEditUserActive') Active 
            .col-sm-10
                select#inputEditUserActive.form-control(required='required')
                    -const activeString = currentUser.active ? 'Yes' : 'No'
                    -const activeArray = ['Yes', 'No']
                    each active in activeArray
                        -if (active == activeString)
                            option(selected = true)= active
                        -else
                            option= active
        .form-group.row
            .col-sm-10
                button.btn.btn-primary Edit #{title}