extends ../components/_templateBase
           
block content
    +breadcrumbDisplay([['Home','/home'],['Manage Forums']])
    
    .d-flex
        h2 Manage Forums
        a.btn.btn-primary.text-white.mb-auto.ml-auto(href=`/manage_forums/new_forum`) + Add Forum
        
    -if(forums.length<1)
        h4.font-weight-bold.text-dark.mt-0.ml-4 No forum to manage.
    - else
    
        table.table
            thead
                tr
                    th(scope="col") #
                    th(scope="col") Type
                    th(scope="col") Title
                    th(scope="col") Author
                    th(scope="col") Creation date
                    th(scope="col") # Topics
                    th.text-center(scope="col") Topic Links
                    th.text-center(scope="col") Edit
                    th.text-center(scope="col") Delete

            each forum,index in forums
                //- -const creationDate = forum.createdAt.format();
                -const creationDate = moment(forum.createdAt).format('DD/MMM/YYYY');
                tbody
                    tr
                        th(scope='row')= index+1
                        td= forum.type
                        td= forum.title
                        td= `${forum.user.firstName} ${forum.user.lastName}`
                        td= creationDate
                        td.text-center= forum.topics.length
                        td.text-center
                            //- a.btn.btn-info(href=`/forums/${forum.slug}/topics`) Open
                            a.btn.btn-info(href=`/manage_forums/${forum.slug}/manage_topics`) Open
                        td.text-center
                            a.btn.btn-success.text-white Edit
                        td.text-center
                            a.btn.btn-danger.text-white Delete
