//- extend template
extends ../components/_templateBase

//- add style in the head
block append head
    //- style for the table
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")
    
//- add script to make table dynamic from dataTable
block append scripts
    //- DataTable from Bootstrap
    script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js')
    /- Internal Js to active the Tables
    script(src='/js/databaseDesignJQuery.js')

block content
    //- Add breadcrumb
    +breadcrumbDisplay([['Home','/home'],['Manage Forums']])

    //- title on the body, with button to create new forum
    .d-flex
        h2 Manage Forums
        a.btn.btn-primary.text-white.mb-auto.ml-auto(href=`/manage_forums/new_forum`) + Create Forum

    //- if there is not forums  
    -if(forums.length<1)
        h4.font-weight-bold.text-dark.mt-0.ml-4 No forum to manage.
    - else
        //- Forum table
        table.table#dataTable.table.table-striped.table-bordered.table-sm.text-center
            thead
                tr
                    th Type
                    th Title
                    th Author
                    th Creation date
                    th # Topics
                    th Topics
                    th Edit
                    th Delete
            
            tbody
                //- iterate through each forum to add each as a row
                each forum in forums
                    //- modal to delete element
                    +deleteModalTemplate(forum.id, title, forum.title)
                    
                    //- creation date with format
                    -const creationDate = moment(forum.createdAt).format('DD/MMM/YYYY HH:mm');
                    //- Row
                    tr
                        //- Forum type
                        td= forum.type
                        //- Forum title
                        td= forum.title
                        //- Author
                        if forum.user.firstName
                            td #{forum.user.firstName} #{forum.user.lastName}
                        else
                            td ABC University
                        //- Created date
                        td= creationDate
                        //- Number of topics
                        td= forum.topics.length
                        //- Open forum button
                        td
                            a.btn.btn-info(href=`/manage_forums/${forum.slug}/manage_topics`) Open
                        //- Edit button
                        td
                            a.btn.btn-success.text-white(href=`/manage_forums/${forum.slug}/edit_forum`) Edit
                        //- Delete button
                        td
                            a.btn.btn-danger.text-white(type='button' data-toggle="modal" data-target=`#deleteModal${forum.id}`) Delete
            //- Table footer
            tfoot
                tr
                    th Type
                    th Title
                    th Author
                    th Creation date
                    th # Topics
                    th Topics
                    th Edit
                    th Delete