extends ../components/_templateBase

block append head
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")
    

block append scripts
    script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js')
    script(src='/js/databaseDesignJQuerry.js')

block content
    +breadcrumbDisplay([['Home','/home'],['Manage Forums']])

    .d-flex
        h2 Manage Forums
        a.btn.btn-primary.text-white.mb-auto.ml-auto(href=`/manage_forums/new_forum`) + Create Forum

    -if(forums.length<1)
        h4.font-weight-bold.text-dark.mt-0.ml-4 No forum to manage.
    - else

        table.table#dataTable.table.table-striped.table-bordered.table-sm.text-center
            thead
                tr
                    //- th #
                    th Type
                    th Title
                    th Author
                    th Creation date
                    th # Topics
                    th Topics
                    th Edit
                    th Delete
            
            tbody
                each forum in forums
                    //- modal to delete element
                    +deleteModalTemplate(forum.id, title, forum.title)
                    //- -const creationDate = forum.createdAt.format();
                    -const creationDate = moment(forum.createdAt).format('DD/MMM/YYYY');
                    
                        tr
                            //- th= index+1
                            td= forum.type
                            td= forum.title
                            td #{forum.user.firstName} #{forum.user.lastName}
                            td= creationDate
                            td= forum.topics.length
                            td
                                //- a.btn.btn-info(href=`/forums/${forum.slug}/topics`) Open
                                a.btn.btn-info(href=`/manage_forums/${forum.slug}/manage_topics`) Open
                            td
                                a.btn.btn-success.text-white(href=`/manage_forums/${forum.slug}/edit_forum`) Edit
                            td
                                a.btn.btn-danger.text-white(type='button' data-toggle="modal" data-target=`#deleteModal${forum.id}`) Delete
            tfoot
                tr
                    //- th #
                    th Type
                    th Title
                    th Author
                    th Creation date
                    th # Topics
                    th Topics
                    th Edit
                    th Delete