extends ../components/_templateBase
           
block content
    +breadcrumbDisplay([['Home','/'],['Forums']])
    
    h2 Forums
    each forum in forums
        
        //- -const creationDate = forum.createdAt.format();
        -const creationDate = moment(forum.createdAt).format('dddd DD MMM YYYY HH:mm');
        
        +cardDisplayItems(forum.type, `${forum.title} | Number of topics: ${forum.topics.length}`, `${forum.user.firstName} ${forum.user.lastName}`, creationDate, `/forums/${forum.slug}/topics`, 'Forum')

    
