extends ../components/_templateBase

mixin homeCards(type, title, description, createdAt, link, button)
    - const relativeTime = moment(createdAt).fromNow()
    .card
        .h5.card-header.bg-info.text-white= type
        .card-body
            h6.card-title= title
            p.card-text
                |#{description.substr(0,100)}...
            p.card-text
                small.text-muted Last updated #{relativeTime}
        .card-footer
            a.btn.btn-primary.align-self-end(href= link)= `Go to this ${button}`
           
block content
    +breadcrumbDisplay([['Home']])

    - const role = user.role.charAt(0).toUpperCase() + user.role.slice(1)
    
    h2 Welcome #{user.firstName} #{user.lastName} to ABC University - #{role}
    .container
        p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse neque magna, congue eget rutrum non, blandit ut elit. Fusce scelerisque malesuada metus ut facilisis. Etiam efficitur, purus sit amet venenatis ullamcorper, risus libero tempor magna, id euismod urna felis ut orci. Suspendisse finibus ante rutrum facilisis condimentum. Praesent eu eros felis. Mauris gravida dui viverra, pharetra arcu et, congue enim. Sed ipsum felis, ornare sed luctus vel, gravida non orci. Donec rhoncus pulvinar diam, vitae faucibus eros pharetra eu. Curabitur pulvinar dictum sodales. In ac aliquet lectus, at dignissim ipsum.

        - if(news || user.role != 'team-maintenance')
            
            .d-flex.mb-4
                h3 Last News
                a.ml-auto(href='/news') View all News >
            
            .card-deck.mb-4 
                each element in news 
                    +homeCards(element.type, element.title, element.description, element.createdAt, `news/${element.slug}`, 'News')
            
            



