//- extend template
extends ../components/_templateBase

//- add script into the page
block append scripts
    //- collapse js to add accordion into the page
    script(src='/js/collapse.js')

block content
    //- Add breadcrumb
    +breadcrumbDisplay([['Home']])

    //- log in user role format
    - let role = user.role.charAt(0).toUpperCase() + user.role.slice(1)
    -if(role == 'Team-maintenance')
        -role = 'Team Maintenance'

    //- welcome message with user name and role
    h2 Welcome #{user.firstName} #{user.lastName} to ABC University - #{role}
    .container.d-sm-inline-flex
        .container
            p  ABCUniversity ranks among some of the world’s best universities according to Times Higher Education and QuaABCuarelli Symonds (QS) rankings. Our belief that higher education should be accessible to everyone has seen us become known us as one of Australia’s most accessible and engaged universities with a footprint spanning five states of Australia and including more than 20 locations.
            p  We regularly experience outstanding graduate outcomes and student experience results from The Good Universities Guide and in Quality Indicators for Learning and Teaching (QILT) data. ABCUniversity produces research that has a real-world impact, and our Excellence in Research for Australia (ERA) results show we produce world-class research in 22 research categories.
            p  We’re proud of our reputation locally and globally for our teaching, research, graduate outcomes, inclusiveness and social innovation. Explore why ABCUniversity could be the right choice for you.
        //- display last three announcements to user who are not team maintenance
        -if (announcements && announcements.length > 0 && user.role != 'team-maintenance')

            //- title and button to go to all announcements
            .ml-auto
                .d-sm-flex
                    h4(style='color: #006972;') Announcements
                    a.ml-auto(href='/announcements') View all >
                                        
                #accordion
                    //- iterate through last three announcements
                    each announcement,index in announcements
                        //- creation date format
                        -const announcementDate = moment(announcement.createdAt).format("DD MMM").toUpperCase()
                        .card
                            .card-header.bg-info.text-white.pl-0.pl-md-2(id=`heading${index}`)
                                //- title
                                button.btn.text-white.d-sm-flex(data-toggle='collapse' data-target=`#collapse${index}` aria-expanded='false' aria-controls=`collapse${index}`)
                                    h6.my-0 #{announcementDate}
                                    p.my-0.ml-md-4 #{announcement.title.substr(0,20)}...

                            .collapse(id=`collapse${index}` aria-labelledby=`heading${index}` data-parent='#accordion')
                                //- body with 100 characters
                                .card-body
                                    |#{announcement.description.substr(0,100)}...
    //- display last three news to user who are not team maintenance
    - if(news && news.length > 0 && user.role != 'team-maintenance')

        //- title and button to go to all news
        .d-sm-flex.mb-4
            h3(style='color: #006972;') Last News
            a.ml-auto(href='/news') View all News >

        .card-deck.mb-4 
            //- iterate through last three news
            each element in news
                //- creation date format relative to the moment
                -const relativeTime = moment(element.createdAt).fromNow()
                .card
                    .h5.card-header.bg-info.text-white= element.type
                    .card-body
                        //- title
                        h6.card-title= element.title
                        //- body with 100 characters
                        p.card-text
                            |#{element.description.substr(0,100)}...
                        p.card-text
                            small.text-muted Last updated #{relativeTime}
                    //- button to go to nres
                    .card-footer
                        a.btn.btn-primary.align-self-end(href=`/news/${element.slug}`)= `Go to this News`





