//- extend template
extends ../components/_templateBase

//- add style in the head
block append head
    //- style for the table
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")

//- add script to make table dynamic from dataTable
block append scripts
    //- DataTable from Bootstrap
    script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js')
    //- Internal Js to active the Tables
    script(src='/js/databaseDesignJQuery.js')

block content
    //- Add breadcrumb
    +breadcrumbDisplay([['Home','/home'],['News']])

    //- body title
    h2 News

    //- if there is not news
    -if(news.length<1)
        h4.font-weight-bold.text-dark.mt-0.ml-4 No News in ABC University.
    -else
        //- News table
        table.table#dataTableNews.table.table-borderless.table-sm
            thead
                tr
                    th
            tbody
                //- number of rows to create ( 3 news by row)
                -const rows = parseInt((records/3)+1)
                //- at least one row
                -let currentRow = 1
                //- number of news processed
                -let countDown = 0
                //- current news looped
                -let i = 0

                //- iterate through rows
                while currentRow < rows + 1
                    tr
                        td
                            //- card deck with three news
                            .card-deck
                                //- iterate three elements
                                -for(let iterator = 0; iterator < 3; iterator++)
                                    //- iterate
                                    -for(; i<countDown+3; i++)
                                        //- no more news to display
                                        -if( i > records-1) 
                                            .card.border-0(style='background-color:#fafafb;')    
                                        -else
                                            //- news creation date
                                            -const creationDate = moment(news[i].createdAt).format('DD MMM YYYY HH:mm')
                                            
                                            .card
                                                //- news title
                                                .h5.card-header.bg-info.text-white.text-break= news[i].title
                                                .card-body
                                                    //- title
                                                    .h6.card-title.text-break(style='white-space: pre-wrap;') #{news[i].description.substr(0,100)}...
                                                    //- author
                                                    .card-subtitle.mb-2
                                                        -const author = news[i].user ? `${news[i].user.firstName} ${news[i].user.lastName}` : 'Anonymous'
                                                        //- creation date
                                                        small.text-muted= `${author} | Created At: ${creationDate}`
                                                //- button to access the news
                                                .card-footer
                                                     a.btn.btn-primary(href=`/news/${news[i].slug}`) View this News
                    //- increase current row
                    -currentRow++
                    //- add three to the count down
                    -countDown += 3