extends ../components/_templateBase

block content
    +breadcrumbDisplay([['Home','/home'],['News', '/news'], [`${newElement.title}`]])
    
    -const creationDate = moment(newElement.createdAt).format('dddd DD MMM YYYY HH:mm');
    -const author = newElement.user.firstName ? `${newElement.user.firstName} ${newElement.user.lastName}` : 'ABC University'
    
    h2= newElement.title
    small.text-muted.mt-0= `Author: ${author}. Created on: ${creationDate}`
    
    p.mt-3 #{newElement.description}
