extends ../components/_templateBase

block append head
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")

block append scripts
    script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js')
    script(src='/js/databaseDesignJQuerry.js')
    script(src='/js/resource.js')
    
mixin deleteModalFileTemplate(id, filename)
    .modal.fade(tabindex='-1' role='dialog' aria-labelledby='deleteModalFileLabel' aria-hidden='true' id=`deleteModalFile${id}`)
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h3#deleteModalFileLabel.modal-title Delete Resource
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    h5.text-center
                        | If you delete this <b> Resource: #{filename} </b>, it will be erased from the system.
                    
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                    form(action=`/manage_resources/files/del/${id}` method="post")
                        button.btn.btn-danger(type="submit") Delete   
           
block content
    +breadcrumbDisplay([['Home','/home'],['Manage Resources']])
    
    .row.d-flex
        .col-md-6
            h2 Manage Resources
        .col-md-6
            form(action="/manage_resources/upload" method="post" enctype="multipart/form-data")
                .input-group
                    //- .form-row.mb-1
                    .custom-file
                        //- .col-9.mr-4
                        input.custom-file-input#file(type="file" name="file" required)
                        label#file-label(for="file" class="custom-file-label" aria-describedby='custom-file-label-append-upload') Choose File...
                    input.btn.btn-primary.input-group-text#custom-file-label-append-upload( type= "submit" value="Upload")
                    
    if files
        table.table#dataTable.table.table-striped.table-bordered.table-sm.text-center
            thead
                tr
                    //- th #
                    th Name
                    th Author
                    th Upload date
                    th Download
                    th Delete
            
            tbody
                each file in files
                    //- modal to delete element
                    +deleteModalFileTemplate(file._id, file.filename, 'manage_resources')
                    //- -const creationDate = forum.createdAt.format();
                    -const updateDate = moment(file.uploadDate).format('dddd DD MMM YYYY HH:mm')
                    
                        tr
                            //- th= index+1
                            td.text-left.pl-3= file.filename
                            if file.user.firstName
                                td #{file.user.firstName} #{file.user.lastName}
                            else
                                td ABC University
                            td= updateDate
                            td
                                a.btn.btn-info.text-white(href=`/manage_resources/files/${file.filename}` target='_blank') Download
                            td
                                a.btn.btn-danger.text-white(type='button' data-toggle="modal" data-target=`#deleteModalFile${file._id}`) Delete
            tfoot
                tr
                    //- th #
                    th Name
                    th Author
                    th Upload date
                    th Download
                    th Delete
    else
        |No files to manage            
