extends ../components/_templateBase
           
block content
    +breadcrumbDisplay([['Home','/home'],['Forums','/forums'],['Topics']])
    
    //- -const creationDate = forum.createdAt.format();
    -const creationDate = moment(forum.createdAt).format('dddd DD MMM YYYY HH:mm');
    
    h2 #{forum.title} - #{forum.type}
    small.text-muted.mt-0= `Author: ${forum.user.firstName} ${forum.user.lastName}. Created on: ${creationDate}`
    p #{forum.description}
    
    h4 Topics
    
    -if(topics.length<1)
        h4.font-weight-bold.text-dark.mt-0.ml-4 No topics in this forum.
    each topic in topics
        
        //- -const creationDate = topics.createdAt.format();
        -const creationDate = moment(topic.createdAt).format('dddd DD MMM YYYY HH:mm');
        
        +cardDisplayItems(topic.title, topic.description, `${topic.user.firstName} ${topic.user.lastName}`, creationDate, `/topics/${topic.id}`, 'Topic', `Number of Comments: ${topic.comments.length}`)
