extends ../components/_templateBase
           
block content
    +breadcrumbDisplay([['Home','/home'],['Manage Users']])
    
    .d-flex
        h2 Manage Users
        a.btn.btn-primary.text-white.mb-auto.ml-auto(href=`/manage_users/new_user`) + Create User
        
    -if(users.length<1)
        h4.font-weight-bold.text-dark.mt-0.ml-4 No users in the system.
    - else
    
        table.table
            thead
                tr
                    th(scope="col") #
                    th(scope="col") Name
                    th(scope="col") Email
                    th(scope="col") Major
                    th(scope="col") Phone Number
                    th(scope="col") Active
                    th.text-center(scope="col") Edit
                    th.text-center(scope="col") Delete

            each currentUser,index in users
            
                //- modal to delete element
                +deleteModalTemplate(currentUser.id, title, `${currentUser.firstName} ${currentUser.lastName} - Email: ${currentUser.email}`)
                
                -const active = currentUser.active ? 'Yes' : 'No'
                
                tbody
                    tr
                        th(scope='row')= index+1
                        td= `${currentUser.firstName} ${currentUser.lastName}`
                        td= currentUser.email
                        td= currentUser.major
                        td= currentUser.phoneNumber
                        td.text-center= active
                        td.text-center
                            a.btn.btn-success.text-white(href=`/manage_users/${currentUser.id}/edit_user`) Edit
                        td.text-center
                            a.btn.btn-danger.text-white(type='button' data-toggle="modal" data-target=`#deleteModal${currentUser.id}`) Delete
